[Unit]
Description=kafka.service
After=network.target
[Service]
User={{ username }}
Group={{ username }}
Type=forking
ExecStart={{ KAFKA_DIR }}/kafka/bin/kafka-server-start.sh -daemon {{ KAFKA_DIR }}/kafka/config/server.properties
ExecStop={{ KAFKA_DIR }}/kafka/bin/kafka-server-stop.sh
[Install]
WantedBy=multi-user.target
